# Ignore compiled files
*.class
*.o
*.pyc

# Ignore temporary files
*~
*.save*

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore configuration files containing sensitive information
config.ini
ftpconfig.ini

#ignore data folder
data