# Ignore compiled files
*.o

# Ignore temporary files
*~
*.save*

# Ignore configuration files containing sensitive information
ftpconfig.ini
!ftpconfig.ini.template

#ignore folders
data
html
mseed
uploaded

#ignore logs
*.log

#ignore executable
peismo